@import 'variables';

input[type=search] { 	
    -webkit-appearance: none;
    background-color: rgba(255, 255, 255, 0.4);
    background-image: url('../../../dist/build/images/search.svg');
    background-position: 15px 50%;
    background-repeat: no-repeat;
    background-size: 18px;
    border: none;
    border-radius: 5px;
    color: $main-color;
    font-size: $base-font-size;
    line-height: 2;
    min-width: 200px;
    padding: 10px 10px 10px 45px;
    width: 100%;

    &::-webkit-input-placeholder {
        color: $main-color;
        opacity: 0.7;
    }
    
    &:-moz-placeholder {
       color: $main-color;
       opacity: 0.7;
    }

    &:focus {
        background-color: rgba(255, 255, 255, 0.6);
    }
}

.previousSearch {
    position: relative;

    .removeSearch {
        display: none;
    }

    &:hover,
    &:focus {
        background-color: rgba(255, 255, 255, 0.2);

        .removeSearch {
            display: flex;
        }
    }
}

.previousSearches {
    display: none;

    &.visible {
        display: block;
    }
}

.previousSearchTerm {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;
}

.previousSearchesWrapper {
    background-color: rgba(255, 255, 255, 0.1);
    z-index: 0;
}

.removeSearch {
    background: #723D53;
    bottom: 0;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    
    &:hover,
    &:focus {
        cursor: pointer;
    }

    .removeCircle {
        background-color: $main-color;
        border-radius: 50%;
        color: lightgray;
        height: 18px;
        line-height: 1;
        margin: 0 auto;
        width: 18px;
    }
}

.searchHeading {
    height: 70px;
    margin-left: auto;
    margin-right: auto;
    width: auto;

    img {
        height: 100%;
        max-height: 70px;
        width: auto;
    }
}

.searchSuggestion {
    padding: 10px 15px;

    &:hover,
    &:focus {
        cursor: pointer;
    }

    &.active {
        background-color: rgba(255, 255, 255, 0.6);
        border-radius: 5px;
    }
}

.searchSuggestions {
    background-color: #0C2951;
    border-radius: 5px;
    display: none;
    left: 0;
    max-height: 300px;
    overflow: hidden;
    position: absolute;
    right: 0;
    text-align: left;
    z-index: 1;
    
    &.visible {
        display: block;
    }
}

.searchWrapper {
    margin: 0 auto;
    padding: 40px 0px;
    position: relative;
    width: 80%;
}

@media screen and (max-width: $small) {
    input[type=search] { 	
        background-position: 10px 50%;
        padding: 10px 10px 10px 35px;
    }
    
    .previousSearchTerm {    
        p:last-of-type {
            margin-right: 40px;
        }
    }

    .searchHeading {
        height: 40px;
    }

    .searchWrapper {
        width: 85%;
    }
}